---
name: Create and publish Docker image

on:
  pull_request:
    branches:
      - 'main'
      - 'renovate/**'
  push:
    branches:
      - main

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: T-Systems-MMS/dmc

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    strategy:
      matrix:
        example:
          - min
          - full

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Log in to the Container registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        if: github.ref == 'refs/heads/main'

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
        if: github.ref == 'refs/heads/main'

      - name: Render Dockerfile ${{ matrix.example }}
        run: cp examples/${{ matrix.example }}_build.yaml ./build.yaml && sh render.sh .

      - name: Build the container dmc:${{ matrix.example }}
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: .
          push: false
          tags: dmc:${{ matrix.example }}

      - name: Test the container $IMAGE_NAME:${{ matrix.example }}
        run: |
          docker run --rm dmc:${{ matrix.example }}
        if: matrix.example == 'min'

      - name: Test the container $IMAGE_NAME:${{ matrix.example }}
        run: |
          docker run --rm dmc:${{ matrix.example }} ansible --version
          docker run --rm dmc:${{ matrix.example }} kubectl version --client=true -o yaml
          docker run --rm dmc:${{ matrix.example }} helm version
          docker run --rm dmc:${{ matrix.example }} terraform version
          docker run --rm dmc:${{ matrix.example }} nomad version
          docker run --rm dmc:${{ matrix.example }} consul version
          docker run --rm dmc:${{ matrix.example }} docker --version
          docker run --rm dmc:${{ matrix.example }} az version
          docker run --rm dmc:${{ matrix.example }} aws --version
        if: matrix.example == 'full'

      - name: Build and push dmc:${{ matrix.example }}
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: .
          push: true
          tags: ghcr.io/telekom-mms/dmc/${{ matrix.example }}
          labels: ${{ steps.meta.outputs.labels }}
        if: github.ref == 'refs/heads/main'
