name: Create and publish Docker image

on:
  # yamllint disable-line rule:truthy
  workflow_dispatch:
  push:
    branches: ['master']

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: T-Systems-MMS/dmc

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v1.14.1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v3.7.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: build Dockerfile
        run: sh render.sh examples/

      - name: Build and push Docker image
        uses: docker/build-push-action@v2.10.0
        with:
          context: examples
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

